<div class="row">
  <section class="main col-md-9">
    <article>
    <h2>About</h2>
    <p>I am a 19-year-old from Ukraine and I am currently studying Software Development at Seneca. </p>
    <p>I have been programming since I was 15 years old and I absolutely love it. I also have some experience in Algorithms and Data structures.</p>
    <p>I'm now eager to explore different IT spheres and excited about advancing in my career </p>
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>Stay tuned for future updates…</p>
  </aside>
</div>


